{% extends 'news/base.html' %}

{% block content %}
  {% load crispy_forms_tags %}

  <div class="container">
    <form method="post" action="{% url 'news:browse' %}">
      {% csrf_token %}

      <div class="row mb-2">
        <div class="col-md-4">
          <div class="form-floating">
            {{ form.search_query|as_crispy_field }}
            <!-- <label class="ms-3" for="{{ form.search_query.id_for_label }}">Search articles</label> -->
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            {{ form.date_from|as_crispy_field }}
            <!-- <label class="ms-3" for="{{ form.date_from.id_for_label }}">Date from</label> -->
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            {{ form.date_to|as_crispy_field }}
            <!-- <label class="ms-3" for="{{ form.date_to.id_for_label }}">Date to</label> -->
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-check">
            {{form.clickbait_tolerance|as_crispy_field}}
          </div>
        </div>
        <div class="col-md-1 mt-2">
          <button class="btn btn-success" type="submit">Search</button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="row px-2">
            <div class="col-md-2 form-check">
              {{ form.thesun|as_crispy_field }}
              <!-- <label class="form-check-label" for="{{ form.thesun.id_for_label }}">The Sun UK</label> -->
            </div>
            <div class="col-md-2 form-check">
              {{ form.cbsnews|as_crispy_field }}
              <!-- <label class="form-check-label" for="{{ form.cbsnews.id_for_label }}">CBS News</label> -->
            </div>
            <div class="col-md-2 form-check">
              {{ form.abcnews|as_crispy_field }}
              <!-- <label class="form-check-label" for="{{ form.abcnews.id_for_label }}">ABC News</label> -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

<div class="container mt-3">
  <h2>Search results</h2>
  {% include 'news/list_articles.html' %}
</div>

{% endblock %}
