{% extends 'news/base.html' %}

{% block content %}
  {% load crispy_forms_tags %}

  <div class="container">
    <form method="post" action="{% url 'news:browse' %}">
      {% csrf_token %}

      <div class="row mb-2">
        <div class="col-md-5">
          <div class="form-floating">
            {{ form.search_query|as_crispy_field }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            {{ form.date_scraped_from|as_crispy_field }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            {{ form.date_scraped_to|as_crispy_field }}
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-floating">
            {{form.clickbait_tolerance|as_crispy_field}}
          </div>
        </div>
        <div class="col-md-1 mt-4 pt-2">
          <button class="btn btn-success" type="submit">Search</button>
        </div>
      </div>
      
      <div class="row px-2 pt-2">
        <div class="card-title">
          <h6>Categories:</h6>
        </div>
        <div class="col-md-2 form-check">
          {{ form.front_page|as_crispy_field }}
        </div>
        <div class="col-md-2 form-check">
          {{ form.World|as_crispy_field }}
        </div>
        <div class="col-md-2 form-check">
          {{ form.Politics|as_crispy_field }}
        </div>
        <div class="col-md-2 form-check">
          {{ form.Sports|as_crispy_field }}
        </div>
        <div class="col-md-2 form-check">
          {{ form.Health|as_crispy_field }}
        </div>
        <div class="col-md-2 form-check">
          {{ form.Technology|as_crispy_field }}
        </div>
      </div>
      <div class="card">
      
        <div class="card-body">
          <div class="row px-2 pt-2">
            <div class="col-md-2 form-check">
              {{ form.thesun|as_crispy_field }}
            </div>
            <div class="col-md-2 form-check">
              {{ form.cbsnews|as_crispy_field }}
            </div>
            <div class="col-md-2 form-check">
              {{ form.abcnews|as_crispy_field }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

<div class="container mt-3">
  <h2>Search results</h2>
  {% include 'news/list_articles.html' %}
</div>

{% endblock %}
