{% extends "news/base.html" %}
{% load crispy_forms_tags %}  

{% block content %}

<div class="container">


<form method="post" id="urlForm" action="{% url 'news:check_url' %}">
    {% csrf_token %}
    <div class="row mb-2">

        <div class="form-floating col-md-11">
            {{ form.url|as_crispy_field }}
        </div>
        <div class="col-md-1">
            <button class="btn btn-success " type="submit">Submit</button>
          </div>

    </div>
</form>

<div id="detailsSection">
  
</div>

</div>  

<script>
  $(document).ready(function(){
    // Intercept form submission
    $("#urlForm").submit(function(event){
      event.preventDefault(); // Prevent the form from submitting the traditional way
      
      // Perform an AJAX request
      $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: $(this).serialize(),
        success: function(response){
          // Update the details section with the response from the server
          $("#detailsSection").html(response.html);
        }
      });
    });
  });
</script>

{% endblock %}
