{% extends "news/base.html" %}
{% load crispy_forms_tags %}  

{% block content %}

<div class="container">

<h2>Enter URL</h2>
<form method="post" id="urlForm" action="{% url 'news:check_url' %}">
    {% csrf_token %}
    <div class="row mb-2">

        <div class="form-floating col-md-11">
            {{ form.url|as_crispy_field }}
        </div>
        <div class="col-md-1">
            <button class="btn btn-success " type="submit">Submit</button>
          </div>

    </div>
</form>

<div id="detailsSection">
  
</div>

</div>  



{% endblock %}
