

{% extends "news/base.html" %}

{% block content %}
{% load crispy_forms_tags %}


<form method="post" id="selectionForm" action="{% url 'news:scrape_articles' %}">
  {% csrf_token %}
  
  <div class="container">
    <div class="row m-0 p-0 mb-1">
      <div class="col-md-6  form-check p-1 pt-4">

      <h2>Choose sites:</h2>

    </div>

    <div class="col-md-2 form-check p-1 pt-0">
      {{ form.clickbait_tolerance|as_crispy_field }}
    </div>
      <div class="col-md-2 form-check p-1 pt-0">
        {{form.category|as_crispy_field}}
      </div>
      
      <div class="col-md-1 form-check p-1 pt-4">
        
        </div>
      <div class="col-md-1 form-check p-1 pt-3">
      <button class="btn btn-success" type="submit" id="submit-button">Scrape</button>
      </div>
      


    </div>

    <div class="row p-0 m-0">

      <div class="col-md-2 form-check p-1">
        {{ form.thesun|as_crispy_field }}
      </div>
      <div class="col-md-2 form-check p-1">
        {{ form.cbsnews|as_crispy_field }}
      </div>
      <div class="col-md-2 form-check p-1">
        {{ form.abcnews|as_crispy_field }}
      </div>
    </div>
  </div>
</form>

<div class="container mt-2" id="article-container">
  <h2>Results:</h2>

  <!-- {% include 'news/list_articles.html' %} -->

</div>


<div class="m-5 d-flex justify-content-center d-none" id="spinner">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container mt-3 mb-3 d-flex justify-content-center">
  <button type="button" class="btn btn-outline-secondary btn-sm d-none" id="load-more-btn">Load More</button>
</div>

<script>
$(document).ready(function(){
  $("#selectionForm").submit(function(event){
    event.preventDefault();
    $("#spinner").removeClass('d-none');
    $.ajax({
      type: $(this).attr('method'),
      url: $(this).attr('action'),
      data: $(this).serialize(),
      success: function(response){
        $("#article-container").append(response.articles_html);
        $("#spinner").addClass('d-none');
        $('#load-more-btn').removeClass('d-none');
      }
    });
  });
  $('#load-more-btn').on('click', function() {
    $("#load-more-btn").addClass('d-none');
    $("#spinner").removeClass('d-none');
    fetch('{% url "news:load_more_articles" %}')
      .then(response => response.json())
      .then(data => {
        console.log(data.articles_html); // Log the data to the console
        $("#article-container").append(data.articles_html);
        $("#spinner").addClass('d-none');
        $('#load-more-btn').removeClass('d-none');
      })
      .catch(error => {
        console.error('Error fetching articles:', error);
      });
  });
});

</script>

{% endblock %}
