

{% extends "news/base.html" %}

{% block content %}

<form method="post" action="{% url 'news:scrape_articles' %}">
  {% csrf_token %}
  
  <div class="container">
    <div class="m-0 p-0 mb-1 d-flex justify-content-between align-items-center">
      <h2>Choose sites:</h2>
      <button class="btn btn-success" type="submit">Scrape</button>
    </div>

    <div class="row p-0 m-0">
      <div class="col-md-2 form-check p-1">
        {{ form.thesun }}
        <label class="btn btn-lg btn-secondary btn-block w-100" for="{{ form.thesun.id_for_label }}">The Sun UK</label>
      </div>
      <div class="col-md-2 form-check p-1">
        {{ form.cbsnews }}
        <label class="btn btn-lg btn-secondary btn-block w-100" for="{{ form.cbsnews.id_for_label }}">CBS News</label>
      </div>
      <div class="col-md-2 form-check p-1">
        {{ form.abcnews }}
        <label class="btn btn-lg btn-secondary btn-block w-100" for="{{ form.abcnews.id_for_label }}">ABC News</label>
      </div>
    </div>
  </div>
</form>

<div class="container mt-2-3">
  <div class="m-0 p-0 mb-1 d-flex justify-content-between align-items-center">
    <h2>Results:</h2>
    <input type="checkbox" class="btn-check" id="btn-check-4" checked autocomplete="off">
    <label class="btn" for="btn-check-4">Show clickbaits toggle</label>
  </div>
  {% include 'news/list_articles.html' %}
</div>

{% endblock %}
