{% load custom_filters %}

{% if latest_article_list %}
<div class="accordion" id="articleAccordion">

    {% for article in latest_article_list %}
    <div class="card mb-1">
        <div class="card-header p-0" id="heading{{article.id}}">
            <div class="m-0 p-0 d-flex justify-content-between align-items-center">
                <a class="btn btn-link" type="button" href="{{article.url_from}}">
                    {{ article.title }}
                </a>

                <div class="d-flex align-items-center">
                    <span class="me-2"> <b>{{article.source_site}}</b> | {{ article.scraped_date|date:"Y-m-d H:i" }}</span>

                    <div class="d-flex">
                        <a type="button" class="btn btn-outline-info p-0 px-2 m-2"
                            href="{% url 'news:detail' article.id %}"></button>
                            <i class="fa fa-info"></i>
                        </a>

                        {% if article.clickbait_decision_final == 3 %}
                            <i class="fa fa-times fa-2x" style="color: red;" title="Final Decision: Clickbait"></i>
                        {% elif article.clickbait_decision_final == 2 %}
                            <i class="fa fa-times fa-2x" style="color: orange;" title="Final Decision: Likely Clickbait"></i>
                        {% elif article.clickbait_decision_final == 1 %}
                            <i class="fa fa-check fa-2x" style="color: yellow;" title="Final Decision: Potentially Clickbait"></i>
                        {% else %}
                            <i class="fa fa-check fa-2x" style="color: green;" title="Final Decision: No Clickbait"></i>
                        {% endif %}


                        <button type="button" class="btn btn-default p-1 px-2 toggle-button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ article.id }}" aria-expanded="false"
                            aria-controls="collapse{{ article.id }}" aria-pressed="false">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="collapse{{ article.id }}" class="collapse" aria-labelledby="heading{{article.id}}"
            data-parent="#articleAccordion">
            <div class="card-body">
                {{ article.content_summary|safe }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% else %}
<p></p>
{% endif %}


<script>
    const toggleButtons = document.querySelectorAll(".toggle-button");

    toggleButtons.forEach((button) => {
        button.addEventListener("click", function () {
            const icon = this.querySelector("i");
            if (icon.classList.contains("fa-chevron-down")) {
                icon.classList.remove("fa-chevron-down");
                icon.classList.add("fa-chevron-up");
                this.classList.add("active");
                this.setAttribute("aria-pressed", "true");
            } else {
                icon.classList.remove("fa-chevron-up");
                icon.classList.add("fa-chevron-down");
                this.classList.remove("active");
                this.setAttribute("aria-pressed", "false");
            }
        });
    });
</script>